.html {
    background-color: #231F20;
}


.timbers {
    color: #DC9801;
    background-color: #014015;
    height: 100%;
}

.timbers-logo {
    padding-top: 10px;
}

.t-post {
    color: #DC9801;
    font-size: .75em;
    max-height: 300px;
}

.t-feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0 auto;
    width: 100%;
    height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background: #014015; 
}


.mets {
    color: #FF5907;
    background-color: #002973;
    height: 100%;
}

.mets-logo {
    padding-top: 10px;
    padding-left: 10px;
}

.m-feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0 auto;
    width: 100%;
    height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background: #002973; 
}

.m-post {
    color: #FF5907;
    font-size: .75em;
    max-height: 300px;
}

.blazers {
    color: #CBCFD0;
    background-color: #231F20;
    height: 100%;
}

.b-post {
    color: #CBCFD0;
    font-size: .75em;
    max-height: 300px;
}

.b-feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0 auto;
    width: 100%;
    height: 200px; 
    overflow-y: auto; 
    border: 1px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background: #231F20; 
}

.column {
    float: left;
    width: 32%;
    background-color: grey;
    margin: 2px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }